/* Menetapkan warna latar belakang halaman */
body {
    background-color: lightblue;
}

/* Menetapkan warna teks untuk <h1> */
h1 {
    color: darkblue;
}

/* Menetapkan ukuran font untuk <p> */
p {
    font-size: 18px;
}
.title {
    text-align: center; /* Menyusun judul di tengah halaman */
    font-size: 36px; /* Mengubah ukuran font */
    color: darkblue; /* Memberikan warna biru tua */
    font-family: Arial, sans-serif; /* Menentukan jenis font */
    background-color: lightgray; /* Memberikan warna latar belakang */
    padding: 20px; /* Memberikan jarak dalam judul */
    border-radius: 10px; /* Memberikan sudut melengkung */
}
